<div class="navbar navbar-inverse navbar-fixed-top myNav">
  <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
       </button>
       <a href="/" class="navbar-brand">Awesome Cars!</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="/ferrari488">Ferrari 488</a></li>
          <li><a href="/audiR8">Audi R8</a></li>
          <li><a href="/lamborginiAventador">Lamborgini Aventador</a></li>
          <li><a href="/jaguarFType">Jaguar F-Type</a></li>
          <li><a href="/camaro">Camaro</a></li>
        </ul>
    </div>
 </div>
</div>
